* {
    margin:auto;
}
body{
    max-width:100%;
   overflow-x:hidden;
}
h1
{
    margin-top:0px;
}
.form-popup
{
    color:white;
    display:none;
    max-width: 200px;
    padding: 15px;
    position: fixed;
    top: 0;
    right:20px;
    border: 2px solid rgb(120,120,120);
    z-index: 10;
    background-color: rgb(70,70,70);
}

.form-popup input[type=text], .form-popup input[type=password]
{
    width: 100%;
    padding-top: 5px ;
    padding-right: 5px;
    margin: 5px 0 10px 0;
    border: none;
    background:#D8D8D8;
}

#login{
    margin-left:60px;
    margin-bottom: 10px;
    background-color:darkturquoise;
    color: black;
    font-weight: bolder;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
}
#submit
{
    float:left;
    background-color:darkturquoise;
    color: black;
    font-weight: bolder;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
}
#cancel
 {
     margin-left:70px;
     background-color: transparent;
     color: white;
     padding: 10px 10px 10px 10px;
     border: none;
     cursor: pointer;
     position: fixed;
     top:3px;
     right: 23px;
     opacity: 1;
 }

#cancel2
{
    margin-left:70px;
    background-color: transparent;
    color: white;
    padding: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    float: right;
    opacity: 1;
}
#Home{
    margin-top:3%;
    margin-bottom:1%;
    margin-left:47%;
    margin-right:50%;
    background-color:darkturquoise;
    color: black;
    font-weight: bolder;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
#open
{
    background-color: transparent;
    color: darkturquoise;
    font-weight: bolder;
    border: 1px solid darkturquoise;
    cursor: pointer;
    position: fixed;
    top: 1.5%;
    right:30px;
    z-index: 10;
    padding: 16px 20px;
    margin: 3px;
}



div.header
{
    float: left;
    position: sticky;
    top: 0;
    max-height: 100px;
    width: 100%;
    padding: 10px 40px;
    background-color: rgb(100,100,100);
}

div.header img
{
    float: left;
    max-height: 80px;
}

.navigation {
    margin-left:30%;
    padding-bottom: 2%;
    padding-left:2%;
    padding-top:1%;
    overflow:hidden;
}

.buttons
{
    /*!-- border: 5px solid black;*/
    clear:left;
    margin:auto;
    align-content: center;
    background-color: rgb(60,60,60);
    padding: 25px;
    text-align: center;
    color: white;
    display: block;
}
.form-popup a:link
{
    color: darkturquoise;
}

.form-popup a:visited
{
    color: rgb(84, 152, 255);
}

.payment
{

    display: block;
    margin-top:1%;


    padding:10px;


}
.payment img
{
    display:block;
    margin: 1%;
    margin-left:auto;
    margin-right: auto;
    min-height: 150px;
    min-width:150px;
    max-height: 150px;
    max-width: 150px;
    cursor: pointer;

}
.overLay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 100;
}
.payPop{
    display: none;
    color:white;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 20%;
    left:45%;
    z-index: 101;
    max-width: 200px;
    border: 2px solid rgb(120,120,120);
    background-color: rgb(70,70,70);
}
.payPop input[type=text]
{
    width: 100%;
    padding-top: 5px ;
    padding-right: 5px;
    margin: 5px 0 10px 0;
    border: none;
    background:#D8D8D8;
}

.content
{
    margin:auto;
    background-color: rgb(60,60,60);
    width:100%;
}


.footer
{
    clear:left;
    background-color: rgb(30,30,30);
    padding: 50px;
    text-align: center;
    font-size: x-large;
    color: white;
}

#step1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    padding:10px;

}
#poster {
    float: left;
    width:210px;
    height:280px;
    padding:10px;
}

.description {
    color:white;

    width:100%;

}



.selection {
    height: 200px;
}


#confirm {
    float:right;
}
#back, #confirm{
    background-color: rgb(40, 26, 231);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.ticket img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}