.rectangle
{
    width: available;
    height: 50px;
    /*border: solid black;
    border-color: black;*/
    border-style: solid;
    /*background-color: wheat;*/
}

/*div
{
    border: 40px solid black;
}*/