
* {
    margin:auto;
}

.form-popup {
    display:none;
    max-width: 200px;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 0;
    right:20px;
    border: 3px solid #D8D8D8;
    z-index: 10;
}
.form-popup input[type=text], .form-popup input[type=password] {
    width: 100%;
    padding-top: 5px ;
    padding-right: 5px;
    margin: 5px 0 20px 0;
    border: none;
    background:#D8D8D8;
}
#login {
    margin-left:5px;
    background-color:green;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
}
#cancel {
    margin-left:5px;
    background-color:red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    opacity: 0.8;
}
#open{
    background-color: #7f7f7f;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right:20px;
    z-index: 10;
    padding: 16px 20px;
    margin: 3px;
}

.header 
{
    position: sticky;
    top: 0;
    height: 100px;
    background-color: rgb(100,100,100);
}

.buttons
{
    /*!-- border: 5px solid black;*/
    clear:left;
    margin:auto;
    align-content: center;
    background-color: rgb(60,60,60);
    padding: 25px;
    text-align: center;
    color: white;
}

.content {
    display:block;
    margin:auto;
    background-color: rgb(60,60,60);
}

.buttons {
    display:block;
}

div.footer
{
    clear:left;
    background-color: rgb(30,30,30);
    padding: 50px;
    text-align: center;
    font-size: x-large;
    color: white;
}


#step1 {
    width:605px;
    height:109x;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    padding:10px;

}
#poster {
    float: left;
    width:210px;
    height:280px;
    padding:10px;
}

.description {
    color:black;
    float:center;
}

#movie, #cast, #director {
    font-size: x-large;
    color:lightblue;
}

#synopsis {
    margin: 15px;
    text-align:justify;
    text-justify: inter-word;
    font-size: large;
    color:white;
}
.selection {
    height: 200px;
}

#showtimes {
    color:yellow;
}

#back {
    float:left;
}
#confirm {
    float:right;
}

#back, #confirm {
    background-color: rgb(40, 26, 231);
    color: white;
    margin:10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  #theatre,#date,#showtime {
      width:200px;
      float:center;
      margin:10px;
      padding:10px;
  }

  #showtime,#date,#confirm {
      display:none;
  }

 .navigation {
     overflow:hidden;
 }